<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988262783630-orr4r2c5ohbl5ogur8pgbvbb36ekbb5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988262783630-orr4r2c5ohbl5ogur8pgbvbb36ekbb5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988262783630-2nmng8s8hhraid9s888623vo9afl3fml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBP8l9xL5SzlU3XnC6YbLiA5E0eY8z_jVw</string>
	<key>GCM_SENDER_ID</key>
	<string>988262783630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miyo.newing</string>
	<key>PROJECT_ID</key>
	<string>newing-53c10</string>
	<key>STORAGE_BUCKET</key>
	<string>newing-53c10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988262783630:ios:ba3b292fbe5f3f652687df</string>
</dict>
</plist>